@import "tailwindcss";

:root {
  --background: #ffffff;   /* white */
  --foreground: #171717;   /* dark gray text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  
}


.row {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 3px;
}

.col {
  display: inline-block;
}

.item {
  width: 50%;   /* Item Name */
  text-align: left;
  font-weight: bold;
}

.qty {
  width: 15%;   /* Quantity */
  text-align: center;
}

.total {
  width: 25%;   /* Item Total */
  text-align: right;
}
